<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- style bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Mio style -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="root">
        <div id="containerWhatsApp">
            <!-- ^colonna di sinistra -->
            <div id="colonnaSininstra">
                <!-- *Header -->
                <div class="headerContainer d-flex align-items-center">
                    <div class="my-2 d-flex align-items-center justify-content-between">
                        <!-- Avatar -->
                        <div class="avatarContainer d-flex align-items-center">
                            <img src="img/avatar_io.jpg" alt="Avatar">
                            <span>Sofia</span>
                        </div>

                        <!-- Icone -->
                        <div>
                            <i class="fa-solid fa-circle-notch mx-2"></i>
                            <i class="fa-solid fa-message mx-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical mx-2"></i>
                        </div>
                    </div>
                </div>

                <!-- *Notifiche -->
                <div id="notificheContainer">

                    <div class="notificheIcon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>

                    <div>
                        <div>Ricevi notifiche nuovi messaggi</div>
                        <div>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>

                </div>

                <!-- *Main -->
                <div id="inputContatti">
                    <!-- !Input -->
                    <div class="input-group flex-nowrap">
                        <!-- Icona ricerca -->
                        <span class="input-group-text" id="addon-wrapping">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>

                        <!-- Input Ricerca -->
                        <input v-model="inputRicercaContatto" type="text" class="form-control" placeholder="Cerca chat">
                    </div>

                    <!-- !Contatti -->
                    <div @click="iniziaChat(contatti, index)" class="contattoSingolo my-2 d-flex align-items-center"
                        v-for="(contatti, index) in contacts">
                        <!-- Avatar -->
                        <div class="avatarContainer">
                            <img :src="contatti.avatar" alt="Avatar">
                        </div>

                        <!-- Nome -->
                        <div>
                            <div>{{contatti.name}}</div>
                            <div class="lastMessage">{{contatti.oraUltimoMesaggio}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ^Colonna di destra -->
            <div id="colonnaDestra">

                <!-- *Header  -->
                <div class="headerContainer d-flex align-items-center justify-content-between">
                    <!-- !Avatar e nome variabile in base a chi sto scrivendo -->
                    <div>
                        <div class="avatarContainerMain d-flex align-items-center">
                            
                            <img :src="contacts[indiceCustom].avatar" alt="Avatar">
                            <span>{{contacts[indiceCustom].name}}</span>
                            <div class="lastMessage">{{contacts[indiceCustom].oraUltimoMesaggio}}</div>
                        </div>
                    </div>

                    <!-- Icone del header Col destra -->
                    <div>
                        <i class="fa-solid fa-magnifying-glass mx-2"></i>
                        <i class="fa-solid fa-paperclip mx-2"></i>
                        <i class="fa-solid fa-ellipsis-vertical mx-2"></i>
                    </div>
                </div>

                <!-- *Area mesaggi -->
                <div id="mesaggiContainer">
                    <div v-for="(element, index) in contacts[indiceCustom].messages"
                        :class="(element.status == 'sent') ? 'd-flex justify-content-end':'d-flex justify-content-start'">

                        <div id="mesSIngle" data-bs-toggle="dropdown" aria-expanded="false"
                            :class="(element.status == 'sent') ? 'messInviati':'messRicevuti' ">
                            {{element.message}}
                            <i class=" dropdown-toggle ms-2"></i>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><button class="dropdown-item" type="button">Message info</button></li>
                                <li><button @click="removeMessage(index)" class="dropdown-item" type="button">Delete
                                        message</button></li>

                            </ul>

                        </div>
                    </div>


                </div>


                <!-- *Input Invio mesaggi -->
                <div id="invioMesaggiContainer">

                    <!-- icone smile faccine -->
                    <div class="d-flex justify-content-center align-items-center smileContainer">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                    <!-- Input mesaggi Invio -->
                    <div class="invioMesaggi px-2">
                        <input v-model="variabileMesaggio" @keyup.enter="keyEvent" class="w-100" type="text"
                            placeholder="Invia Mesaggio">
                    </div>

                    <!-- Audio icon -->
                    <div class="microphoneContainer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Day.js -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script>dayjs().format()</script>

    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- Mio Java -->
    <script type="text/javascript" src="main.js"></script>



</body>

</html>