#root {
    height: 100vh;
    background: linear-gradient(0deg, rgba(218, 219, 212, 1) 80%, rgba(0, 150, 136, 1) 20%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerWhatsApp {
    width: 70%;
    height: 90%;
    display: flex;
}

#colonnaSininstra {
    height: 100%;
    width: 30%;

}

#colonnaDestra {
    height: 100%;
    width: 70%;
}

.headerContainer {
    width: 100%;
    height: 10%;
    background-color: rgba(234, 234, 234, 1);
}

.headerContainer i {
    color: rgba(177, 177, 177, 1);
}

#notificheContainer {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    background-color: rgba(142, 218, 252, 1);
}

.notificheIcon {
    background-color: rgb(255, 255, 255);
    color: rgba(142, 218, 252, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 1%;

}

#inputContatti {
    width: 100%;
    height: 75%;
    background-color: rgba(234, 234, 234, 1);
    overflow: auto;

}

.contattoSingolo:hover {
    background-color: rgba(183, 188, 188, 1);
}

.avatarContainer {
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;

}

.avatarContainerMain {
    width: 10%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#mesaggiContainer {
    width: 100%;
    height: 80%;
    background-image: url("img/mine.jpg");
    overflow: auto;


}

#invioMesaggiContainer {
    width: 100%;
    height: 10%;
    background-color: rgba(243, 238, 234, 1);
    display: flex;
    align-items: center;
}

.microphoneContainer,
.smileContainer {
    width: 10%;
}

.invioMesaggi {
    width: 80%;
}

.messRicevuti {
    background-color: rgba(255, 255, 255, 1);  
    border-radius: 10px;
    padding: 10px;
    margin: 20px;   
    display: flex;
    justify-content: space-between;


}

.messInviati {
    background-color: rgba(213, 249, 186, 1);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;    
    display: flex;
    justify-content: space-between;
}

.lastMessage{
    font-size: 12px;
    color: rgb(176, 170, 168);
}


#mesSIngle .dropdown-toggle{
    visibility: hidden;
}

#mesSIngle:hover .dropdown-toggle{
    visibility: visible;
}