#root {
    height: 100vh;
    background: rgb(207, 220, 221);
    background: linear-gradient(0deg, rgba(207, 220, 221, 1) 80%, rgba(15, 128, 7, 1) 55%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerWhatsApp {
    width: 70%;
    height: 90%;
    display: flex;
}

#colonnaSininstra {
    height: 100%;
    width: 30%;

}

#colonnaDestra {
    height: 100%;
    width: 70%;
}

.headerContainer {
    width: 100%;
    height: 10%;
    background-color: red;
    border: 1px solid black;
}

#notificheContainer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: aqua;
}
.notificheIcon{
    background-color: rgb(255, 255, 255);
    color: aqua;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 1%;

}

#inputContatti {
    width: 100%;
    height: 80%;
    background-color: grey;
    overflow: scroll;

}
.contattoSingolo{
    border-bottom: 1px solid rgb(170, 167, 167);
}
.contattoSingolo:hover{
    background-color: aqua;
}
.avatarContainer{
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#mesaggiContainer {
    width: 100%;
    height: 80%;
    background-image: url("img/mine.jpg");

}

#invioMesaggiContainer {
    width: 100%;
    height: 10%;
    background-color: blanchedalmond;
}